<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <h2>Activities - {{name}}</h2>
    <h3>Viewing as: {{view}}</h3>
 <form action="/add/activities/{{id}}" method="post">

        <label for="task">Add Task :</label>
        <input type="text" name="task">

        <input type="submit" value="submit">
    </form> 


    <a href="/history/yesterday/{{user_id}}">Yesterday</a>
    

    <a href="/get/profiles/{{user_id}}">Back to Profiles</a><br><br>
    <a href="/yesterday/{{id}}"><button>Yesterday</button></a>


    <h3>Pending Tasks - {{date}}</h3>
    {%for i in pt%}
    <li>
        <ol>
            {{i[1]}}
            
            {% if num_person == id %}
                <a href="/update/task/{{i[0]}}"><button>done</button></a>
            {% endif %}
            <a href="/history/{{i[0]}}"><button>history</button></a>
        </ol>
    </li>
    {%endfor%}




    <h3>Completed Task</h3>
    {%for i in ct%}
    <li>
        <ol>
            {{i[1]}}
            <a href="/history/{{i[0]}}"><button>history</button></a>
        </ol>
    </li>
    {%endfor%}

    <button><a href="/logout">Logout</a></button>
</body>

</html>